
{% if post_user_id in followed_list %}
    <form action="{% url 'home' %}" method="POST" class="card-text-small unset-all"></form>
    <form action="{% url 'home' %}" method="POST" class="card-text-small unset-all">
        {% csrf_token %}                         
        <input type="submit" name="unfollow" value="unfollow" class="button-following" >
        <input type="hidden" name="followed_id" value="{{post.user_id}}">
    </form>
{% else %}
    <form action="{% url 'home' %}" method="POST" class="card-text-small unset-all"></form>
    <form action="{% url 'home' %}" method="POST" class="card-text-small unset-all">
        {% csrf_token %}                         
        <input type="submit" name="follow" value="follow" class="button-following" >
        <input type="hidden" name="followed_id" value="{{post.user_id}}">
    </form>                    
{% endif %}
