

<div class="card mb-4">
    <div class="card-body">
        <div class="card-text-small"> {{post.user}} - {{post.created | timesince}}   </div>
        <!-- <div class="small text-muted"> {{user}} </div> -->
        <div class="card-header">{{post.header}} </div>
        <!-- <h2 class="card-title">Featured Post Title</h2> -->
        <p class="card-text-body-custom"> {{post.body}} </p>
        <!-- <a class="btn btn-primary" href="#!">Read more →</a> -->
        <iframe class="card-img-top center" src="https://giphy.com/embed/duzpaTbCUy9Vu" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>


    <div row="Row">
        <div class="Column">
            <form method="POST" action="">
                {% csrf_token %} 
                {% if request.user.id == post.user_id %}
                    <a class="nav-button-delete" href="{% url 'deletepost' post.id %}#"> Delete Post </a>
                {% endif %}
            </form>
        </div>
        <div class="Column">
            <form method="POST" action="">        
                {% csrf_token %}             
                <button class="button-6-custom"> <a class="nav-link" href="{% url 'commentspost' post.id %}#"> Comments </a></button>
            </form>
                {% include 'base/components/comment_component.html' with comments=comments %}
        </div>            
    </div>




    </div>   
</div>


