

<div class="card mb-4-post">
    <div class="card-body">
        <div class="card-text-small"> 

                {% for i in followers %}
                    {% if i.followed_id == post.user_id and i.follower_id == user_id %}
                        <form action="{% url 'home' %}" method="POST" class="card-text-small"></form>
                        <form action="{% url 'home' %}" method="POST" class="card-text-small">
                            {% csrf_token %}                         
                            <input type="submit" name="unfollow" value="unfollow" class="button-following" >
                            <input type="hidden" name="followed_id" value="{{i.followed_id}}">
                        </form>
                    {% else%}
                    <form action="{% url 'home' %}" method="POST" class="card-text-small"></form>
                    <form action="{% url 'home' %}" method="POST" class="card-text-small">
                        {% csrf_token %}                         
                        <input type="submit" name="follow" value="follow" class="button-following" >
                        <input type="hidden" name="followed_id" value="{{post.user_id}}">
                    </form>                    
                    {% endif %}

                {% endfor %}
            {% if not followers %}
                <form action="{% url 'home' %}" method="POST" class="card-text-small"></form>
                <form action="{% url 'home' %}" method="POST" class="card-text-small">
                    {% csrf_token %}                         
                    <input type="submit" name="follow" value="follow" class="button-following" >
                    <input type="hidden" name="followed_id" value="{{post.user_id}}">
                </form>
            {% endif %}

            <h1> {{post.followed_id}} </h1>
        <a class="card-text-small" href="{% url 'userprofile' post.user_id %}#">{{post.user}}</a> - {{post.created | timesince}}           
        </div>
        
        <div class="card-header">{{post.header}} </div>
        
        <p class="card-text-body-custom"> {{post.body}} </p>
        
        <iframe class="card-img-top center" src="https://giphy.com/embed/duzpaTbCUy9Vu" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>



        <div class="row-flex">
            <form method="POST" action="">        
                {% csrf_token %}             
                <button class="button-6-custom"> <a class="nav-link" href="{% url 'commentspost' post.id %}#"> Comments </a></button>
            </form>

            {% if request.user.id == post.user_id %}
            <form method="POST" action="">
                {% csrf_token %} 
                    <a class="nav-button-delete" href="{% url 'deletepost' post.id %}#"> Delete Post </a>
            </form>
            {% endif %}
        </div>          
        {% include 'base/components/comment_component.html' with comments=comments %}   


    </div>   
</div>


