<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-1">                        
            <div class="card mb-4">                        
                    <div class="input-group">
                        <form action="{% url 'home' %}" method="GET" class="search-bar-custom" autocomplete="Off">
                            <div class="wrapper">
                                <input class="form-control" type="text" placeholder="Search forum" name="q"/>
                                <input type="submit" class="button-6-custom">
                            </div>
                        </div>
                    </div>                    
            </div>
        </div>
    </div>
</header>