{% extends 'base/main.html' %}

{% block content %}

<div class="container">
    
    <p class="margin-top">Are you sure you want to delete this post? </p>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="submit" class="nav-button-delete" value="Confirm"/>
    </form>

    <div class="margin-bottom"></div>

    {% if posts is not None %}
        {% for post in posts %} 
            {% include 'base/components/post_component.html' with post=post %}
        {% endfor %}
    {% endif %}

</div>
{% endblock %}