{% extends 'base/main.html' %}

{% block content %}
    <body>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Main content - posts -->
                <div class="col-lg-8">
                    {% include 'base/components/post_component.html' with user='Thomas - posted 3 hours ago' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit' %}
                    {% include 'base/components/post_component.html' with user='Henry - posted 4 hours ago' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit' %}
                    {% include 'base/components/post_component.html' with user='User - posted 15 hours ago' text='Lorem ipsum dolor sit amet, consectetur adipisicing elit' %}

                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    {% include 'base/widget_component/widget_body_component.html' with header='Higest rated post' body='Coke VS Pepsi!!??' %}
                    {% include 'base/widget_component/widget_body_component.html' with header='Trending' body='Sunny or rainy today?' %}

                    {% include 'base/widget_component/widget_list_component.html' with header='Top Rooms' %}

                    {% include 'base/widget_component/widget_body_component.html' with header='Most liked User' body='SunnyJim2323' %}
                </div>
            </div>
        </div>
    </body>

{% endblock %}



<!-- Nested row for non-featured blog posts-->
<!--
<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">January 1, 2022</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                <a class="btn btn-primary" href="#!">Read more →</a>
            </div>
        </div>
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">January 1, 2022</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                <a class="btn btn-primary" href="#!">Read more →</a>
            </div>
        </div>
    </div>
    <!--
    <div class="col-lg-6">
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">January 1, 2022</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                <a class="btn btn-primary" href="#!">Read more →</a>
            </div>
        </div>
        <div class="card mb-4">
            <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">January 1, 2022</div>
                <h2 class="card-title h4">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                <a class="btn btn-primary" href="#!">Read more →</a>
            </div>
        </div>
    </div>
    
</div>

Categories widget
<div class="card mb-4">
    <div class="card-header">Top Users</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">FunkyGuy.2</a></li>
                    <li><a href="#!">EmoBell2</a></li>
                    <li><a href="#!">DFastic</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">HoneyMondey96</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

-->