{% extends 'base/main.html' %}

{% block content %}
    <body>
        {% include 'base/components/searchbar_component.html' %}

        <div class="container">
            {% include 'base/create_post_link.html'%}
            <div class="row">
                <div class="col-lg-8">
                    {% for post in posts %} 
                        {% include 'base/components/post_component.html' with post=post followers=followers followed_list=followed_list %}
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    {% include 'base/widget_component/widget_body_component.html' with header='User with the most posts' subject=user_most_posts.user__username count=user_most_posts.post_count uni=user_most_posts.user_id %}

                    {% include 'base/widget_component/widget_body_component.html' with header='Most commented post' subject=post_most_comments.post__header count=post_most_comments.comment_count %}

                    {% include 'base/widget_component/widget_list_component.html' with header='Top Post' %}
                </div>
            </div>
        </div>
    </body>

{% endblock %}

